#navbar {
    border: 1px solid blue;
    background-color: orange;

    display: flex;
    place-content: space-around;
}

#navbar * {
    margin: 10px;
}

#navbar-pages {
    display: flex
}

#navbar-follow {
    display: flex
}

.navbar-icon{
    width: 30px;
}