input {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  min-height: 100vh;

  display: grid;
  grid-auto-rows: auto 1fr auto;
}

ul {
  list-style: none;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 66px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #666666;
  font-weight: lighter;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 30px;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.text-div p {
  line-height: 30px;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.grid-col-two{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.text-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-icon {
  width: 50px;
  margin: 5px;
}

#contact-left {
  display: grid;
  gap: 20px;
}

#contact-right {
  display: contents;
}


#contact-follow {
  display: flex;
  gap: 20px;
  padding: 20px;
}

#contact-follow * {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.colour-github{
  color: #000000
}

.colour-linkedin {
  color: #0071AE
}

.colour-instagram {
  color: #A02AA6
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 350px));
  justify-content: center;
  gap: 15px;
  padding-top: 70px;
}

.project-card {
  margin: 10px;
  padding: 15px;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;
  border-radius: 7px;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-card-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.project-card-gh {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  transition: transform 0.3s
}

.project-card-gh:hover {
  transform: scale(1.07);
}


.project-card-icon {
  width: 30px;
}

#home {
  align-self: center;
}

.img-div{
  display: grid;
  align-content: center;
}

.img-div img {
  width: 500px;
  margin: 10px;
  padding: 15px;
  border-radius: 7px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  min-width: 400px;
}

#about-top {
  box-shadow: 0px 3px 20px -7px rgba(0, 0, 0, 0.5);
  background-color: #FAFAFA;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}

#home h2 {
  font-size: 40px;
}

#home h1 {
  font-size: 75px;
}

#home p {
  font-size: 20px;
}